#title{
color:#281;
}
.inbox{
width:300px;
height:200px;
background-color:yellow;
overflow:hidden;
margin-top:20px;
margin-bottom:50px;
border-radius:8px;
border:2px solid #000;
box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.pressinput{
width:300px;
height:25px;
border-radius:5px;
}
#so{
width:45px;
height:26px;
border-radius:5px;
margin-left:-5px;
}
#icon{
width:100px;
height:100px;
border-radius:8px;
box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.news_stable{
  width: 250px;
  height: 400px;
  background-color: rgba(200,200,200,1);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0px 10px rgba(255,255,255,0.1);
}
.news_beta{
  width: 250px;
  height: 400px;
  background-color: rgba(200,200,200,1);
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0px 10px rgba(255,255,255,0.1);
}
.news{
  width: 300px;
  height: 100px;
  background-color: rgba(220,220,220,1);
  border-radius: 10px;
}
/*#news_stable_MSR{
  position: ;
  margin-top: -337px;
  margin-left: 260px;
}
#news_beta_MSR{
  margin-left: 260px;
}
#news_stable_CP{
  position: ;
  margin-top: -337px;
  margin-left: 520px;
}
#news_beta_CP{
  margin-left: 520px;
}
*/